In [21]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import scipy.stats as stats

from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import KBinsDiscretizer

from sklearn.metrics import accuracy_score

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.tree import DecisionTreeClassifier

In [6]:
df = pd.read_csv('train.csv', usecols=['Age','Fare','Survived'])
df.shape, df.isnull().sum()

((891, 3),
 Survived      0
 Age         177
 Fare          0
 dtype: int64)

In [7]:
df.dropna(inplace= True)
df.shape

(714, 3)

In [9]:
df.head(5)

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [13]:
X_train,X_test,Y_train,Y_test = train_test_split(df.drop('Survived', axis = 1),
                                                df['Survived'],
                                                test_size = 0.2, random_state = 32)
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((571, 2), (143, 2), (571,), (143,))

In [23]:
clf = DecisionTreeClassifier()
clf.fit(X_train,Y_train)
y_predict = clf.predict(X_test)
score  = accuracy_score(Y_test,y_predict)
score

0.48951048951048953

In [54]:
# Applying Dicretizer on Age and Fare Coloumn
Kbin_Age  = KBinsDiscretizer(n_bins = 10 , encode ='ordinal',strategy = 'quantile')
Kbin_Fare = KBinsDiscretizer(n_bins = 10 , encode ='ordinal',strategy = 'quantile')

In [55]:
trf = ColumnTransformer([
    ('first',Kbin_Age,[0]),
    ('second',Kbin_Fare,[1])
],remainder='passthrough')

In [56]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [57]:
clf.fit(X_train,Y_train)
y_predict = clf.predict(X_test)
score = accuracy_score(Y_test,y_predict)
score

0.5034965034965035

In [59]:
trf.named_transformers_['first'].bin_edges_

array([array([ 0.42, 15.  , 19.  , 22.  , 25.  , 28.5 , 32.  , 36.  , 42.  ,
       50.  , 80.  ])], dtype=object)

In [61]:
X_train_trf[0]

array([8., 6.])